.gray-wrapper{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #eeeeee
    
    
    
    
}
.main-navigation ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.main-navigation li {
    margin-right: 5px;
}
.offering>ul{
    display: flex;
    flex-direction: row;

}
 