body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    min-width: 1200px;
}


a {
    text-decoration: none;
    color: #000000;
}

.main-navigation {

    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
}


.main-navigation-list,
.footer-list{
    list-style: none;

}
.main-navigation a,
.offering a,
.footer-list a{
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.footer-list a:hover,
.footer-list a:focus {
    background-color: yellow;
}
.offering{
    list-style: none;
}
.section{
    text-align: center;
}
.button{
    font: inherit;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
}
.button: hover,
.button: focus,
.button: activate

{
    background-color: yellow;

}
li{
    list-style: none;
    color: #000000;
}

